@media (max-width: 600px)
{
    body{
        display: flex;
        flex-direction: column;
    }
    .pai{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 2em;
    }
}

